@import url("./null.css");

body{
    font-family: 'Montserrat';
}

.header__nav a {
    display: block;
    margin: auto;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    position: relative;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    z-index: 1;
}   
.header__nav a:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
}
.header__nav a:hover {
    color: #2D2D2D;
}
.header__nav a:hover:after {
    right: 0;
    left: 0;
    height: 100%;
}
.header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    padding: 10px 50px;
    text-align: center;
}
.header-has-background {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s ease;
}
.header_container {
    max-width: 85%;
    display: flex;
    align-items: center;;
}
.header__logo {
    display: inline-block;
    flex: 1 1 auto;
}
.header__logo img{
    max-width: 100%;
    min-width: 80px;
    height: auto;
}
.header__nav {
    flex: 0 0 auto;
    display: inline-block;
}
.header__nav li {
    display: inline-block;
    margin-left: 2vw;
    padding: 5px;
    color: #fff;
    font-size: 1vw;
}

.header__nav li a {
    padding: 10px 15px;
}
.main {
}
.about {
}
.catalog {
}
.works {
}
.calc {
}
.contacts {
}
.main {
    width: 100%;
    height: auto;
    background-image: url('/img/1_block.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.main_container {
    padding: 10% 5% 5% 15%;
    display: flex;
}
.main__text {
    align-self: center;
    flex: 1 0 auto;
    z-index: 2;
    max-width: 50vw;
}
.main_title {
    font-style: normal;
    font-weight: bold;
    /* font-size: 56px; */
    line-height: 60px;
    color: #fff;
    margin-bottom: 1vw;
}
.main_subtitle {
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.main_button {
    color: #fff;
    padding: 20px 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background: #40307D;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    border-radius: 55px;
    transition: all 0.5s ease;
}


.main_button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgb(255, 0, 85);
}

.main_photo {
    margin-left: -100px;
    margin-top: -30px;
    flex: 0 1 auto;
}
.main_photo img {
    max-width: 100%;
    height: auto;
    float: right;
}

.about {
    position: relative;
}
.about_container {
    padding: 10% 5% 10% 15%;
    display: flex;
}
.about_text {
    flex: 1 1 auto;
    max-width: 50vw;
    align-self: center;
}
.about__title {
    font-style: normal;
    font-weight: bold;
    color: #EF3268;
    margin-bottom: 2vw;
}
.about__subtitle {
    font-style: normal;
    font-weight: bold;
    line-height: 39px;
    margin-bottom: 2vw;
}
.about_2subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
}
.about__photo {
    
}
.about__photo img {
    max-width: 90%;;
}
.whyme {
    background-image: url(./img/3_block_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.whyme__container {
    display: flex;
    padding-top: 150px;
    padding: 10% 10% 0px;
}
.whyme__photo {
    display: inline-block;
    flex: 1 1 auto;
    align-items: center;
}
.whyme__photo img {
    max-width: 100%;
    height: auto;
}
.whyme_text {
    display: block;
    align-self: center;    
}
.whyme__title {
    word-wrap: break-word;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    text-align: right;
    color: #A6CE28;
    margin-bottom: 2vw;
}
.whyme__subtitle {
    font-style: normal;
    font-weight: 100;
    text-align: right;
    color: #FFFFFF;
    font-size: 2vw;
    line-height: 44px;
    margin-bottom: 2vw;
    padding-right: 10px;
    letter-spacing: 0.3px;
}
.whyme__2subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 2.3vw;
    text-align: right;
    color: #A6CE28;
    min-width: 200px;
}
.whyme_icons {
    margin-top: 10vw;
    display: flex;
    justify-content: space-around;
}
.whyme_icon {
    text-align: center;
    max-width: 25%;
}
.icon_img {
    margin-bottom: 20px;
}
.icon_img img  {
    max-width: 100%;
}
.icon_title {
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    color: #A6CE28;
    margin-bottom: 20px;
}
.icon_subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    color: #fff;
    text-align: center;
    max-width: 300px;
}

.catalog {
    background-color: #232733;
    position: relative;
    padding-bottom: 5vw;
}
.catalog_container {
    margin: 0 auto;
    width: 60%;
    /* padding: 0 10%; */
    text-align: center;
}
.catalog__title {
    padding: 5vw 0;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    color: #FFFFFF;
}
.catalog_cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.catalog_card {
    background-color: #525A75;
    width: 33%;
    border-radius: 30px;
    box-shadow: 0px 26px 30px rgba(0, 0, 0, 0.4);
}
.card_container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    min-height: 500px;
}
.card_photo {
    padding: 5% 10% 15%;
    /* margin-bottom: 40px; */
}
.card_photo img {  
    max-width: 90%;
    height:auto;
}
.card_title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
}
.card_subtitle {
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    text-align: center;
    flex: 1;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.card_button {

}
.card_button a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    padding: 15px 30px;
    background-color: #FF2282;
    border-radius: 30px;
}
.card_arrows {
    width: 100%;
    position: absolute;
    top: 60%;
}
.arrows_container {
    position: relative;
    width: 100%;
}
.card_arrow_left {
    position: absolute;
    left: 10%;
    top: 0;
}
.card_arrow_right {
    position: absolute;
    right: 10%;
    top: 0;
}
.card_sliders {
    margin: 0 auto;
    display: flex;
    max-width: 100px;
    justify-content: space-between;
}
.card_slider {
    width: 21px;
    height: 21px;
    background-color: #525A75;
    border-radius: 50px;
    box-shadow: 0px 26px 30px rgba(0, 0, 0, 0.4);
}

.active {
    background-color: #9BA9D7;
}

.examples {
    background-color: #232733;
}
.examples_container {
    padding: 5vw 0;
}
.examples__title {
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 5vw;
}

.examples_cards {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 0 9%;
}
.examples__card {
    width: 300px;
    height: 600px;
    background-color: gray;
    transition: all 0.3s ease;
}
.example__search {
    display: none;
    margin: 0 auto;
    margin-top: 80%;
    transition: all 0.5s ease;
    cursor: pointer;
}
.examples__card:hover {
    background-color: orange;
}
.examples__card:hover .example__search {
    display: block;
}
.tools {
    background: linear-gradient(180deg, #FFDE2E 0%, #FF5C00 100%);
    overflow: hidden;
}
.tools_container {
    padding: 5% 5% 10% 15%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.tools__title {
    font-weight: bold;
    font-size: 4vw;
    color: #000000;
    padding-bottom: 5vw;
    z-index: 1;
}
.tools__photo {
    position: absolute;
    opacity: 0.3;
    right: 5%;

    z-index: 0;
}
.tools__photo img {
    max-width: 100%;
}
.tools_cards {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -55px;
    z-index: 1;
}
.tools_card {
    width: 200px;
    height: 150px;
}
.card__icon {
    text-align: center;
    margin-bottom: 10px;
}
.card__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
.price {
    background: linear-gradient(0deg, #FF5C01, #FF5C01);
}
.price_container {
    padding: 5% 5% 10% 15%;
    display: flex;
}
.price_text {
    max-width: 50%;
    align-self: center;
}
.price__title {
    font-weight: bold;
    font-size: 4vw;
    color: #000000;
    margin-bottom: 2vw;
    z-index: 1;
    line-height: 100%;
}
.price__subtitle {
    font-style: normal;
    font-weight: 300;
    line-height: 101.9%;
    color: #000000;
    margin-bottom: 2vw;
}
.price__button {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background: #FDBF00;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    border-radius: 55px;
    transition: all 0.3s ease;
    max-width: 200px;
    text-align: center;
    
}
.price__button a {
    color: black;
    display: block;
    padding: 20px;
}
.price__button:hover {
    box-shadow: 0px 0px 50px rgb(255, 208, 0);
}
.price__photo {
    flex: 1 1 auto;
}
.price__photo img {
    max-width: 90%;
}

.callback {
    background-image: url("./img/callback_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.callback_block {
    margin: 0 auto;
    background: linear-gradient(142.16deg, #2924FF 0%, #00F0FF 100%);
    max-width: 50vw;
    min-height: 800px;

}
.callback_container {
    padding: 10% 10% 5%;
}
.callback__title {
    font-weight: bold;
    font-size: 2vw;
    color: #fff;
    margin-bottom: 2vw;
    z-index: 1;
    text-align: center;
    line-height: 100%;
}

.form_wrapper_1 input, .form_wrapper_2 input {
	width: 100%;
	font-size: 13px;
	border: 1px solid #cecece;
	background: #F6F6f6;
    border-radius: 8px;
    background: #FFFFFF;
    border: 4px solid #194868;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 20px 30px 15px;
    margin-bottom: 1.7vw;
}
.form_wrapper_1 {
    width: 100%;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; font-size: 1vw;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; font-size: 1vw;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; font-size: 1vw;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; font-size: 1vw;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease; font-size: 1vw;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease; font-size: 1vw;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease; font-size: 1vw;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease; font-size: 1vw;}
.contact_form {
    display: flex;
    flex-direction: column;
}
.form_wrapper {
    margin-bottom: 1.7vw;
}

.form__firstname {
    display: inline-block;
    width: 49%;
}

.form__lastname {
    display: inline-block;
    width: 50%;
}

.form__title {
    align-self: flex-start;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 10px;
    margin-bottom: 5px;
    flex: 1 1 auto;
}

.form__mail {
    text-align: left;
    margin-bottom: 1.1vw;
}
.form__mail input {
    min-width: 100%;
}
.form_wrapper_3 {
    margin-bottom: 1.7vw;
    display: block;
}
.select {
    display: inline-block;
    max-width: 15vw;
    width: 100%;
    position: relative;
    margin-right: 50px;
}

.new-select {
    position: relative;
    border: 4px solid #194868;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 12px;
    height: 60px;
    padding: 20px 30px 40px;
    font-style: normal;
    font-weight: 500;
    color: #194868;
    font-size: 1vw;
}

.new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    color: red;
}

.new-select:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 25px;
    background: url('./img/select.png') no-repeat right center / cover;
    opacity: 1;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
         -o-transform: rotate(225deg);
            transform: rotate(225deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(45deg) translate(3px, 5px);

}

.form_wrapper_3_1 {

}

.form_wrapper_3_2 {
    display: inline-block;
}

.checkbox {
    display: inline-block;
    padding-right: 5vw;
    width: 15vw;
    margin-bottom: 1.7vw;
}
.checkbox:last-child {
    padding-right: 0;
}
.checkbox label {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: #FFFFFF;
}
.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom_checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    background-color: #fff;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom_checkbox:checked+label::before {
    background-color: #fff;
    background-image: url("./img/ellipse.svg");
    background-size:auto;
}
.textarea {
    width: 100%;
    border-radius: 12px; 
    padding: 10px;
    resize: none;
}
.form_wrapper_button {
    text-align: center;
}
.callback_button {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    background: #0071BD;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    border-radius: 55px;
    transition: all 0.3s ease;
    min-width: 10vw;
    text-align: center;
    padding: 20px;
}




.title {
    font-size: 4vw;
    line-height: normal;
}

.subtitle {
    font-size: 2vw;
    line-height: normal;
}














@media (max-width:920px) {
    .header {
        display: none;
    }
    .main_button {
        font-size: 3vw;
        padding: 5% 20%;
    }
    .main_photo {
        max-width: 50%;
        margin-left: -10vw;
    }
    .about__photo {
        position: absolute;
        max-width: 38%;
        right: 0;
        top: 10px;
        z-index: 0;
    }
    
}
